<ptplugin name="{{p.id}}" engine="CustomAnalytics">
	<settings>
		<option name="consoleLog" value="{{ p.consoleLog.value }}" type="bool" />

    <option name="trackerID" value="{{p.trackerID.value}}" type="string" />
    <option name="logSceneViews" value="{{p.logSceneViews.value}}" type="bool" />
	</settings>
</ptplugin>

<action name="logEvent_{{p.id}}" type="Javascript" autorun=""><![CDATA[
	var label = args[3];
	if(label.charAt(0) == '"' && label.charAt(label.length-1) == '"') { label = label.slice(1,-1); }
	$(window.cA).trigger('logEvent', {'pid': '{{p.id}}', 'data': {'category': args[1], 'action': args[2], 'label': label}, 'parent': args[4]});
]]></action>
